<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <BootstrapperCulture>en</BootstrapperCulture>
    <TargetCulture>en</TargetCulture>
    <Platform>Any CPU</Platform>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishDir>bin\Release\net8.0-windows\clickonce\</PublishDir>
    <PublishUrl>..\publish\ClickOnce\</PublishUrl>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <Install>true</Install>
    <InstallFrom>Disk</InstallFrom>
    <UpdateEnabled>false</UpdateEnabled>
    <UpdateRequired>false</UpdateRequired>
    <MapFileExtensions>true</MapFileExtensions>
    <ApplicationVersion>1.0.0.5</ApplicationVersion>
    <ApplicationRevision>5</ApplicationRevision>
    <IsRevisionIncremented>false</IsRevisionIncremented>
    <PublisherName>Peter Aellig</PublisherName>
    <ProductName>SDI2OMD CONVERTER</ProductName>
    <SuiteName>Peter Aellig</SuiteName>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <GenerateManifests>true</GenerateManifests>
    <SignManifests>false</SignManifests>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <BootstrapperComponentsLocation>HomeSite</BootstrapperComponentsLocation>
    <IsWebBootstrapper>false</IsWebBootstrapper>
    <TargetZone>LocalIntranet</TargetZone>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.Visual.C++.14.0.x64">
      <Visible>False</Visible>
      <ProductName>Visual C++ Runtime x64</ProductName>
      <Install>true</Install>
    </BootstrapperPackage>
  </ItemGroup>
</Project>



